In [23]:
import pandas as pd
budget_data_csv = pd.read_csv(r"/Users/temilolu_trois/downloads/budget_data.csv")

In [24]:
budget_data_csv.head() #check to see

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [25]:
#total months 
total_months = len(budget_data_csv)
total_months

86

In [26]:
#net total of P&L 
net_total = budget_data_csv['Profit/Losses'].sum()
net_total

22564198

In [28]:
#changes in profit and losses
temp_profit_loss = budget_data_csv['Profit/Losses']

In [37]:
#avg change in p & l 
import numpy as np
difference_profit_loss = np.mean([temp_profit_loss[i+1] - temp_profit_loss[i] for i in range(len(temp_profit_loss)-1)]).round(2)
difference_profit_loss

-8311.11

In [29]:
#max change in p & l
import numpy as np
np.max([temp_profit_loss[i+1] - temp_profit_loss[i] for i in range(len(temp_profit_loss)-1)])

1862002

In [30]:
#greatest decrease in profit 
np.min([temp_profit_loss[i+1] - temp_profit_loss[i] for i in range(len(temp_profit_loss)-1)])

-1825558